{% extends "main/layout.html"%}

{% block body %}
<!-- ... (previous content) ... -->

<body class="social-media">
    <header>
        <h1>Social Media Links</h1>
    </header>
    <main>
        <ul>
            <li>
                <img src="#" alt="LinkedIn">
                <a href="#" target="_blank">LinkedIn</a>
            </li>
            <li>
                <img src="#" alt="Instagram">
                <a href="#" target="_blank">Instagram</a>
            </li>
            <li>
                <img src="#" alt="YouTube">
                <a href="#" target="_blank">YouTube</a>
            </li>
            <!-- Add more social media links here -->
        </ul>
    </main>
</body>
{% endblock %}
